@{
    Layout = "AccessDeniedLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }

        .bg {
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

    <div >
        <img src="~/Images/access_denied.png" class="bg" />
    </div>

</body>
</html>
